:root {
    --darkblue-color: #1D1D3A;
    --blue-color: #29297A;
    --light-color: #C2A7D7;
    --cyan-color: #842A67;
    --darkcyan-color: #2C1725;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    height: 100%;
}

.numbers {
    font-family: "Kode Mono", monospace;
    font-weight: bold;
    font-size: 100px;
    color: var(--light-color);
    text-align: center;
    margin: 50px;
}

.controls {
    display: flex;
    justify-content: center;
}

.button {
    font-family: "Jura", sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: var(--light-color);
    text-align: center;
    margin: 10px;
    padding: 5px;
    width: 120px;
}

.button:hover {
    cursor: pointer;
}

input {
    font-family: "Jura", sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: var(--darkcyan-color);
    text-align: center;
    border: none;
    background-color: var(--light-color);
    margin: 10px;
    padding: 5px;
    width: 120px;
}

.timer {
    background-color: var(--darkblue-color);
    display: inline-block;
    width: 50%;
}

.timer .button {
    background-color: var(--blue-color);
}

.stopwatch {
    background-color: var(--darkcyan-color);
    display: inline-block;
    width: 50%;
}

.stopwatch .button {
    background-color: var(--cyan-color);
}