:root {
    --background-color: #E2C0FB;
    --primary-color: #3F0769;
    --text-color: #210934;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
}

.button {
    position: absolute;
    padding: auto;
    border: 20px solid var(--primary-color);
    border-radius: 60px;
    font-family: "Galindo", sans-serif;
    font-size: 80px;
    color: var(--text-color);
    background-color: var(--background-color);
    transition: 0.2s;
    cursor: default;
}

.button:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
    cursor: pointer;
}

.button:active {
    box-shadow: 0 0 50px var(--primary-color);
}